/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

.mat-body, .mat-body-1, .mat-typography {
    font-size: 14px;
    font-family: 'Nunito', 'Segoe UI', arial;
}

.is-invalid {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

/* div.is-invalid {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: solid 1px !important;
    border-color: orangered !important;
} */

.ui-message.ui-message-error,
.ui-message.ui-message-error>.ui-message-icon {
    background-color: transparent !important;
    color: orangered !important;
}

.invalid-input {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
} 