<p>Dear Agent {{ name }},</p>
<p>Welcome to Vidoe KYC</p>
<p>Please click the below link to start the Video KYC process.</p>
<p>
    <a href="{{ url }}">Start Video KYC</a>
</p>

<p>Please ignore this email if you have already finished the VideoKYC</p>