Dear customer,

<p>Please click on <a target="_blank" href="{{ url }}">link</a> to complete your Video KYC anytime between 10 AM to 6 PM within 72 hours. Kindly join using stable internet connection and Chrome browser. You woud require your PAN card, white paper and a pen during the Video KYC. </p>